{% extends 'base.html.twig' %}

{% block title %}TypeEval{% endblock %}

{% block body %}
    <h1>TypeEval</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_eval.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ type_eval.code }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ type_eval.libelle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ type_eval.slug }}</td>
            </tr>
            <tr>
                <th>IsActif</th>
                <td>{{ type_eval.isActif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_eval.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_eval_index') }}">back to list</a>

    <a href="{{ path('type_eval_edit', {'id': type_eval.id}) }}">edit</a>

    {{ include('type_eval/_delete_form.html.twig') }}
{% endblock %}
