{% extends 'base.html.twig' %}

{% block title %}KhaMELIA - Demande de consultation / Spécialité
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }} "/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }} "/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/select-country/bootstrap-select-country.min.css') }} "/>
{% endblock %}

{% block position %}
	{{ position }}
{% endblock %}

{% block chemin %}
	{{ chemin }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 col-lg-12 col-xl-6">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						{% if 'SUPER_ADMIN' in app.user.roles %}
							<a href="{{ path('matieres_new') }}" class="">
								<button class="mb-xs mt-xs mr-xs btn btn-success">
									<span class="fa fa-plus"></span>
									Créer
								</button>

							</a>
						{% endif %}
						<a href="#" class="fa fa-caret-down"></a>
					</div>

					<h2 class="panel-title">
						Liste des spécialités
					</h2>

				</header>
				<div class="panel-body">
					<table class="table table-bordered table-striped mb-none" {% if matieres is not empty %} id="datatable-default" {% endif %}>
						<thead>
							<tr>
								<th>Code</th>
								<th>Libelle</th>
								<th>Slug</th>
								<th>Etat</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for matiere in matieres %}
								<tr>
									<td>{{ matiere.code }}</td>
									<td>{{ matiere.libelle }}</td>
									<td>{{ matiere.slug }}</td>
									<td>{{ matiere.etat ? 'Activé' : 'Désactivé' }}</td>
									<td>
										<a href="{{ path('membre_consultation_specialite_demande', {'id_secretaire': app.user.id,'id_enseigne': id_enseigne, 'id_patient': id_patient,'id_specialite': matiere.id}) }}" class="mb-xs mt-xs mr-xs btn btn-info">
											<span class="fa fa-edit"></span>
											Demande de consultation
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Aucune spécialité</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/vendor/select2/select2.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }} "></script>
	<script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
	<script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
	<script src="{{ asset('assets/javascripts/tables/examples.datatables.default.js') }}"></script>
	<script src="{{ asset('assets/javascripts/select-country/bootstrap-select-country.min.js') }}"></script>
	<script>
		$('.countrypicker').countrypicker();
	</script>
{% endblock %}
