{% extends 'base.html.twig' %}

{% block title %}KhaMELIA - Constantes/Pantients
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/vendor/select2/select2.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatables-bs3/assets/css/datatables.css') }} "/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }} "/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/select-country/bootstrap-select-country.min.css') }} "/>
{% endblock %}

{% block position %}
	{{ position }}
{% endblock %}

{% block chemin %}
	{{ chemin }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 col-lg-12 col-xl-6">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						{% if 'SUPER_ADMIN' in app.user.roles %}
							<a href="{{ path('constantes_new') }}" class="">
								<button class="mb-xs mt-xs mr-xs btn btn-success">
									<span class="fa fa-plus"></span>
									Créer
								</button>

							</a>
						{% endif %}
						<a href="#" class="fa fa-caret-down"></a>
					</div>

					<h2 class="panel-title">
						Liste des patients en attente
					</h2>

				</header>
				<div class="panel-body">
					<table class="table table-bordered table-striped mb-none" {% if patients is not empty %} id="datatable-default" {% endif %}>
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prénoms</th>
								<th>Email</th>
								<th>Date creation</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for patient in patients %}
								<tr>
									<td>{{ patient.nom }}</td>
									<td>{{ patient.prenom }}</td>
									<td>{{ patient.email }}</td>
									<td>{{ patient.date | format_datetime('full', 'full', locale='fr') }}</td>
									<td>
										<a href="{{ path('constante_patient_jour', {'id_patient': patient.id_client, 'id_specialite':id_specialite, 'id_enseigne':id_enseigne}) }}" class="mb-xs mt-xs mr-xs btn btn-primary">
											<span class="fa fa-edit"></span>
											Constantes du jours
										</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Aucun patient</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('assets/vendor/select2/select2.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables/media/js/jquery.dataTables.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js') }} "></script>
	<script src="{{ asset('assets/vendor/jquery-datatables-bs3/assets/js/datatables.js') }} "></script>
	<script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
	<script src="{{ asset('assets/javascripts/ui-elements/examples.modals.js') }}"></script>
	<script src="{{ asset('assets/javascripts/tables/examples.datatables.default.js') }}"></script>
	<script src="{{ asset('assets/javascripts/select-country/bootstrap-select-country.min.js') }}"></script>
	<script>
		$('.countrypicker').countrypicker();
	</script>
{% endblock %}
